.App {
  text-align: center;
  /* background-color: brown; */
  /* min-height:100%;
  /* position:relative; */
  min-height: 100%;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Options{
  height: 70%;
  background-size:cover;
  margin: 20px;
  background-color: wheat;
}

.MainBody{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: wheat;
}

.Footer{
  width: 100%;
  background-color: black;
  color: yellow;
  flex: none;
}

.opt-img{
  max-height: 160px;
  max-width: 160px;
}

.coon-logo {
  top: 0;
  height: 100px;
  transition: box-shadow 1s ease;
}

.coon-logo:hover{
  box-shadow: inset 0 0 10px #000000;
}

.main-page{
  min-height: 100vh;
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.choice-div{
padding: 3%;
transition: transform .25s ease;
}

.choice-div:hover{
  transform: scale(1.5);
}

.marvel-main-page {
  border: 1px solid #000000;
}
